@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Open+Sans:ital,wght@0,400;1,300&family=Poppins&family=Raleway:wght@700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}


.nav-link {
    background-color: transparent !important;
    font-family: "Poppins", sans-serif;
    font-weight: bold !important;
    font-size: 1.2rem !important;
    padding: 5px !important;
    text-shadow: 1px 1px 5px #000 !important;
    color: #fff !important;
    transition:
        transform 0.3s ease,
        color 0.3s ease !important;
}
.nav-link:hover {
    color: #007bff !important;
}

.navbarmain {
    padding-left: 15px !important;
    position: relative;
    z-index: 999;
    background: black !important;
    backdrop-filter: blur(10px) !important;
}

.navbar-image {
    height: 40px;
    cursor: pointer;
}

.navbar-image:hover {
    transform: scale(1.3);
    filter: brightness(1.5);
}

